---
const { title, date, heroImage, link, heroImageAlt } = Astro.props;
---

<a href={link}>
  <div
    class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm dark:bg-slate-800 dark:border-gray-900 card"
  >
    <div class="group h-48 md:h-64 block overflow-hidden relative">
      <img
        class="rounded-t-lg w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
        loading="lazy"
        src={heroImage}
        alt={heroImageAlt}
      />
    </div>
    <div class="p-5">
      <h3
        class="text-gray-900 font-bold text-2xl tracking-tight mb-2 dark:text-white text-left"
      >
        {title}
      </h3>
      <p class="font-normal text-gray-700 mb-3 dark:text-gray-400">{date}</p>
    </div>
  </div>
</a>
<style>
  .card {
    animation-duration: 2s;
    animation-name: fadein;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
